html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

#footer1 {
    text-decoration: none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */

/* change border colour to suit your needs */

input, select {
    vertical-align:middle;
}






/*MY CODE*/


@font-face {
    font-family: sm;
    src: url('../fonts/sketchmatch.ttf');
}

@font-face {
    font-family: sb;
    src: url('../fonts/snowblobs.otf');
}

a{
	color: #000;
	text-decoration: none;
}



/*Table design for the converter*/

#cells-div {
    border-left: 6px solid red;
    height: 350px;
    padding: 10px;
}

#curr-center{
    text-align: center;
}


.the-padding {
    padding-top: 50px;
}

.conv-border {
    height:500px;
}

.conv-border2 {
    height:100px;
}

#div-pad {
    padding-top: 30px;
}
/*#cells-option {
    width: 200px;
}

#button-option {
    width: 100px;
}*/


/*sociial icon to control the footer section*/

.foot {
  background: #00CED1;
  padding: 30px 0;
}

.foot a {
  color: white;
  font-size: 60px;
  padding: 10px;
  transition: all .5s ease;
}

.facebook1:hover {
  color: #3b5998;
}

.twitter1:hover {
  color: #00aced;
}

.linked1:hover {
  color: #0077B5;
}

.gplus1:hover {
  color: #dd4b39;
}

.git1:hover {
  color: #333;
}

.fa {
  padding-left: 60px;
  padding-right: 60px;
}

#dev1 {
  font-size: 20px;
  text-decoration: none;
}




@media only screen and (max-width: 767px ) and (orientation: portrait) {

    .conv-border {
    height:450px;
}

#cells-div {
    border-left: 4px solid red;
    height: 380px;
    padding: 3px;
}

#curr-center{
    text-align: center;
    font-size: 15px;
}

#cells-option {
    width: 100px;

}

#button-option {
    width: 100px;
}

#curr-center2 {
    font-size: 13px;
}

}

@media only screen and (max-width: 768px ) and (orientation: landscape) {

    
}
